/* v0.1 */
/* BEM Style Convention 
		Block: block-name
		Element: block-name__element-name
		Modifier: 
			Case 01) block-name__modifier-name
			Case 02) block-name__element-name__modifier-name
*/

.s2 {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: teal;
	font-weight: bold;
	text-align: center;
	align-content: center;
	z-index: 5;

}

.s2__background-image {
	background-image: url('../img/watercolor-paper-texture.jpg');
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
	z-index: 5;
	
}

.s2__header {
	position: relative;
	color: black;
	font-size: 72px;
	padding: 10px;
	z-index: 6;
	
}