/* v0.1 */
/* BEM Style Convention 
		Block: block-name
		Element: block-name__element-name
		Modifier: 
			Case 01) block-name__modifier-name
			Case 02) block-name__element-name__modifier-name
*/

/* TODO	
Going to need:
	x-06/18/25 Initial number row and column must be 1/4 fr
	x-06/18/25 Transparent grid boxes
	x-06/18/25 3 grid boxes depicting row extension
	x-06/18/25 Grid boxes must have 2-3px column and row gaps
	-06/18/25 Border-bottom colors based on type of element, alkane, metalloid, etc.
	-06/18/25 Legend button
	x-06/18/25 Make modal pop open when pt-item is clicked:
		x-Centered with bottom running off screen, fix the top of modal containing element name and atomic number, scroll to reveal additional information
	-06/19/25 Have fun mode use the modal-box which is full screen with the 4 windows including the big close button on top right
*/

.section__view-height {
	height: 100vh;
	/* padding: 0 37px 0 50px; */
	background-color: black;	

}

.s1 {
	position: relative;
	width: 100%;
	height: 80vh;
	padding: 40px 37px 40px 50px;
	/* padding-top: 40px; */
	/* height: 90vh; */
	/* padding: 0px 50px 25px 50px; */
	/* padding-bottom: 40px; */
	/* Boundary Test */
	background-color: black;
	overflow: hidden;
}

.feature-section {
	width: 100%;
	height: 100%;
	align-content: center;
	padding-bottom: 12px;
	background-color: black;
    overflow: auto;
}

/* Periodic Table START*/

.periodic-table {
	/* For positioning the legend, trend, and about text box. */
	position: relative; 
	display: grid;
	/* Style A */
	grid-template-columns: 25px repeat(18, 1fr) 10px;
	/* Style B */
	/* grid-template-columns: 25px auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto 10px; */
	
	width: 100%;
	background-color: black;
	font-size: 12px;
	cursor: default;
}


.periodic-table__column-row-divider, .periodic-table__column-numbers, .periodic-table__row-numbers {	
	height: 100%;
	padding: 5px 0;
	align-content: center;
	font-weight: bold;
	text-align: center;
	/* Style A */
	/* color: white; */
	/* background-color: navy; */
	/* Style B */
	color: black;
	background-color: var(--theme1-primary-color);
}

.periodic-table__spacer-for-hoverFX {
	height: 100%;
	padding: 0;
	background-color: transparent;
	
}

/* 3 Types of Periodic Table Items: Default box, transparent box, and element-extension box */
.pt-item-structure, .pt-item__type-options {
	display: flex;
	flex-direction: column;
	height: 42px;
	/* width: 57px; */
	padding: 3px;
	cursor: pointer;
	transition: .2s ease-in-out;
	/* max-width: 60px; */

	
}

/* Each default type Periodic Table item has a top part containing an atomic number and element symbol, then the element name fills the space below */
.pt-item__top-part {
	flex: 2;	
	display: flex;
}

.pt-item__atomic-number {
	flex: 1;
	padding: 2px;
	text-align: center;
	align-content: center;
	transition: .2s ease-in-out;
}

.pt-item__element-symbol {
	flex: 2;
	font-size: 16px;
	padding-left: 3px;
	text-align: center;
	align-content: center;
}

.pt-item__element-name {
	flex: 1;
	font-size: 9px;
	line-height: 2;
  
  /* This adds ellipsis to long names */
	/* width: 40px; */
	/* overflow: hidden; */
	/* white-space: nowrap;  */
	/* text-overflow: ellipsis;  */
}

.options__legend, .options__trends, .options__about {
	color: white;
	/* border: 1px solid white; */
	background-color: transparent;
}

.legend-box, .trends-box {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 37px;
	left: 15vw;
	/* padding: 10px 5px 10px 10px; */
	color: white;
	width: 600px;
	/* height: 70px; */
	z-index: 1;
}

.legend-box__top-part {
	/* background-color: yellow; */
	display: flex;
	flex-direction: row;
	flex: .5;
	z-index: 3;
}

.legend-box__legend-option, .legend-box__trends-option, .legend-box__about-option {
	flex: 1;
	border: 2px solid orange;
	text-align: center;
	z-index: 3;
	cursor: pointer;
	padding: 5px 0;
	background-color: black;
	color: white;
}

.legend-box__spacer {
	flex: 4;
	border-bottom: 2px solid white;
}

.legend-box__trends-option {
	border-left: 1px solid orange;
	border-right: 1px solid orange;
}

.legend-box__legend-option__active {
	border-bottom: none;
}
	
.legend-box__bottom-part {
	/* background-color: yellow; */
	display: flex;
	flex-direction: row;
	/* column-gap: 10px; */
	flex: 2;
	border: 2px solid white;
	border-top: none;
	padding: 10px 15px;
	z-index: 2;

}

.legend__column1, .legend__column2, .legend__column3, .legend__column4, .legend__column5, .trends__column1, .trends__column2, .trends__column3, .trends__column4 {
	flex: .8;
	height: 100%;
}


.legend__column2{
	padding-right: 5px;
}

	
.legend__column3 .legend__text-box, .legend__column4 .legend__text-box, .legend__column5 .legend__text-box {
	padding-left: 5px;

}

.legend__text-box, .trends-item {
	display: flex;
	align-items: center;
	column-gap: 7px;
	/* margin-bottom: 3px; */
	cursor: pointer;
}

.legend__color, .trends-item__selector {
	flex: .2;
	width: 12px;
	height: 20px;
	border-radius: 10px;
	border: 2px solid white;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
}

.legend__text, .trends-item__text {
	/* Fixes column 2 circle option button */
	flex: 1;
}

.trends-item__text {
	padding: 0 5px;
}


/* Modifiers */

/* Themes START*/


.periodic-table__style-light {
	column-gap: 1px;
	row-gap: 2px;
}

.periodic-table__style-dark {
	column-gap: 3px;
	row-gap: 3px;
}

.pt-item__style-light {
	color: black;
	border: 1px solid black;
	border-bottom: 3px solid white;
	background-color: grey;	
}

.pt-item__atomic-number__style-light {
	border: 1px solid black;
}

.pt-item__style-dark {
	color: white;
	background-color: black;
}

.pt-item__atomic-number__style-dark {
	border: 1px solid white;
}

.pt-item__type-element-extension__style-light {
	color: black;
	border: none;
	border-left: 12px solid white;
	background-color: grey;
	
}

.pt-item__type-element-extension__style-dark {
	color: white;
	border: 1px solid white;
	border-left: 12px solid white;
	background-color: black;
}

/* Themes END */

.icon__sticky-scroll {
	z-index: 3;
}

.column__sticky-scroll, .row__sticky-scroll {
	z-index: 2;
}

.icon__sticky-scroll, .column__sticky-scroll {
	position: sticky;
	top: 0;
	left: 0px;
	overflow: auto;
}

.row__sticky-scroll {
	position: sticky;
	top: 0;
	left: 0px;
	overflow: auto;
}

.pt-item__type-transparent {
	background-color: transparent;
	border-bottom: none;
	cursor: default;
}

.pt-item__type-element-extension {
	justify-content: center;
	padding-left: 20%;
	cursor: default;
}

.pt-item__type-options {
	text-align: center;
	justify-content: center;
}

.options__legend {
	transform: scale(1.2);
	font-weight: bold;
	/* border: 1px solid orange; */
}

.type-options__selector {
	width: 70px;
	height: 25px;
	border: 1px solid orange;
	background-color: transparent;
	position: absolute;
	top: 36px;
	left: 230px; /* 230 - 300 - 370 */
}

/* Legend */

.legend__color-alkali-metals {
	background-color: var(--legend-color-alkali);
}

.legend__color-alkaline-earth-metals {
	background-color: var(--legend-color-alkaline);
}

.legend__color-transition-metals {
	background-color: var(--legend-color-transition);
}

.legend__color-post-transition-metals {
	background-color: var(--legend-color-post-transition);
}

.legend__color-metalloids {
	background-color: var(--legend-color-metalloid);
}

.legend__color-non-metals {
	background-color: var(--legend-color-non-metal);
}

.legend__color-halogens {
	background-color: var(--legend-color-halogen);
}

.legend__color-noble-gases {
	background-color: var(--legend-color-noble-gas);
}

.legend__color-lanthanides {
	background-color: var(--legend-color-lanthanide);
}

.legend__color-actinides {
	background-color: var(--legend-color-actinide);
}

.legend__color-alkali-metals__inactive {
	border: 1px solid white;
	border-bottom: 3px solid white;
}

.legend__color-alkali-metals__active {
	border: 1px solid white;
	border-bottom: 3px solid var(--legend-color-alkali);
}

.legend__color-alkaline-earth-metals__inactive {
	border: 1px solid white;
	border-bottom: 3px solid white;
}

.legend__color-alkaline-earth-metals__active {
	border: 1px solid white;
	border-bottom: 3px solid var(--legend-color-alkaline);
}

.legend__color-transition-metals__inactive {
	border: 1px solid white;
	border-bottom: 3px solid white;
}

.legend__color-transition-metals__active {
	border: 1px solid white;
	border-bottom: 3px solid var(--legend-color-transition);
}

.legend__color-post-transition-metals__inactive {
	border: 1px solid white;
	border-bottom: 3px solid white;
}

.legend__color-post-transition-metals__active {
	border: 1px solid white;
	border-bottom: 3px solid var(--legend-color-post-transition);
}

.legend__color-metalloids__inactive {
	border: 1px solid white;
	border-bottom: 3px solid white;
}

.legend__color-metalloids__active {
	border: 1px solid white;
	border-bottom: 3px solid var(--legend-color-metalloid);
}

.legend__color-non-metals__inactive {
	border: 1px solid white;
	border-bottom: 3px solid white;
}

.legend__color-non-metals__active {
	border: 1px solid white;
	border-bottom: 3px solid var(--legend-color-non-metal);
}

.legend__color-halogens__inactive {
	border: 1px solid white;
	border-bottom: 3px solid white;
}

.legend__color-halogens__active {
	border: 1px solid white;
	border-bottom: 3px solid var(--legend-color-halogen);
}

.legend__color-noble-gases__inactive {
	border: 1px solid white;
	border-bottom: 3px solid white;
}

.legend__color-noble-gases__active {
	border: 1px solid white;
	border-bottom: 3px solid var(--legend-color-noble-gas);
}

.legend__color-lanthanides__inactive {
	border: 1px solid white;
	border-bottom: 3px solid white;
}

.legend__color-lanthanides__active {
	border: 1px solid white;
	border-bottom: 3px solid var(--legend-color-lanthanide);
}

.legend__color-actinides__inactive {
	border: 1px solid white;
	border-bottom: 3px solid white;
}

.legend__color-actinides__active {
	border: 1px solid white;
	border-bottom: 3px solid var(--legend-color-actinide);
}


/* Trends */
.trend1__active {
	background-color: white;
}

/* ScrollBar */
        
#pt__scrollbar::-webkit-scrollbar {
    width: 25px;        
    height: 25px;   
}

#pt__scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
	border: 10px solid black;
	background-color: white;
	
}

#pt__scrollbar::-webkit-scrollbar-thumb {
    border-radius: 12px;
	background-color: var(--theme1-secondary-color);
}

/* This removes the bottom right unstyled square from scrollbars meeting */
::-webkit-scrollbar-corner {
	background: transparent;
}


/* User Action Modifiers */


.legend__text-box:hover .legend__color{
	animation: 2s colorChange;
	animation-iteration-count: infinite;
}

.legend__color__active {
	animation: 2s colorChange;
	animation-iteration-count: infinite;
}

.legend-box__legend-option:hover, .legend-box__trends-option:hover, .legend-box__about-option:hover {
	text-decoration: underline;
}

.trends-item__selector:hover {
	background-color: white;
	cursor: pointer;
}

.pt-item-structure:hover {
	z-index: 4;
	transform: scale(1.3);
}

.pt-item__type-element-extension:hover {
	transform: scale(1);
	z-index: 1;
}

.pt-item__complete:hover {
	border: 1px solid lime;
	border-bottom: 3px solid white;
}

.pt-item__complete:hover .pt-item__atomic-number {
	border: 1px solid lime;
}

.pt-item__incomplete:hover {
	border: 1px solid red;
	border-bottom: 3px solid white;
}

.pt-item__incomplete:hover .pt-item__atomic-number {
	border: 1px solid #CD1C18;
}

/* Periodic Table END*/


/* Animations */

@keyframes colorChange {
      0% {
        border-color: red;
      }
      15% {
        border-color: orange;
      }
	  30% {
        border-color: yellow;
      }
	  45% {
        border-color: green;
      }
	  60% {
        border-color: blue;
      }
      75% {
        border-color: indigo;
      }
	  90% {
        border-color: violet;
	  }
	  100% {
        border-color: red;
      }
}


/* Media Queries */

/* Styles activate below 1320px */
@media (max-width: 1340px) {
  .legend-box, .trends-box {
		left: 15%;
  }
}	
/* Styles activate below 1270px */
@media (max-width: 1290px) {
  .legend-box, .trends-box {
		left: 14%;
  }
}	

/* Styles activate below 1220px */
@media (max-width: 1220px) {
  .s1 {
	/* padding: 25px 50px; */
  }
  
  .feature-section {
	padding-left: 0;
	height: 100%;
  }
  
  .periodic-table {
	width: 90em;
  }
=
 
}  

